name: Build manylinux wheels and deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_wheels:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cuda-version: "128"
            torch-version: "2.8.0"
            arch: "7.0;7.5;8.0;8.6;9.0;10.0;12.0+PTX"
            cibw-build: "cp312-manylinux_x86_64"
            cibw-build-image: "pytorch/manylinux2_28-builder:cuda12.8"
          - cuda-version: "129"
            torch-version: "2.9.0"
            arch: "7.0;7.5;8.0;8.6;9.0;10.0;12.0+PTX"
            cibw-build: "cp312-manylinux_x86_64"
            cibw-build-image: "pytorch/manylinux2_28-builder:cuda12.9"

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout Apex
        uses: actions/checkout@v5
        with:
          repository: NVIDIA/apex
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: python3 -m pip install cibuildwheel==3.3.0

      - name: Build wheels for PyTorch ${{ matrix.torch-version }} + CUDA ${{ matrix.cuda-version }}
        run: python3 -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: ${{ matrix.cibw-build }}
          CIBW_BUILD_FRONTEND: "pip; args: --no-build-isolation"
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.cibw-build-image }}
          CIBW_ENVIRONMENT: >
            CUDA_HOME="/usr/local/cuda"
            CUDACXX="${CUDA_HOME}/bin/nvcc"
            TORCH_CUDA_ARCH_LIST="${{ matrix.arch }}"
            MAX_JOBS=1
            APEX_CPP_EXT=1
            APEX_CUDA_EXT=1
          CIBW_BEFORE_BUILD_LINUX: >
            sed -i "s/version=\"0.1\"/version=\"0.1+torch${{ matrix.torch-version }}_cu${{ matrix.cuda-version }}\"/g" /project/setup.py &&
            python -m pip install -U pip setuptools wheel packaging ninja cmake pybind11 "numpy<2.0.0" auditwheel &&
            python -m pip install --no-cache-dir torch==${{ matrix.torch-version }} --index-url https://download.pytorch.org/whl/cu${{ matrix.cuda-version }}
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            auditwheel repair -w {dest_dir} {wheel} --plat manylinux_2_28_$(uname -m)
            --exclude libc10.so --exclude libc10* --exclude libtorch.so
            --exclude libtorch* --exclude libcu* --exclude libnccl*

      - name: Log Built Wheels
        run: |
          wheel_name=$(ls dist/*.whl | xargs -n 1 basename)
          echo "wheel_name=${wheel_name}" >> $GITHUB_ENV
          ls dist

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.wheel_name }}
          path: dist/${{ env.wheel_name }}

      # - name: Upload Release Asset
      #   uses: softprops/action-gh-release@v2
      #   if: startsWith(github.ref, 'refs/tags/')
      #   with:
      #     files: ./dist/${{ env.wheel_name }}
